@font-face {
	font-family: "Limkin";
	src: url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.ttf") format(truetype),
		 url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.woff") format(woff),
		 url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.woff2") format(woff2);
	font-weight: 100 900;
}
:root {
	--red: #FF734D;
	--blue: #5ADDE8;
	--purple: #A690FC;
	--yellow: #fcc03a;
	--pink: #F3A8DD;
	--green: #98DB6B;
	--off-white: #fafafa;
	--light-gray: #e5e5e5;
	--dark-gray: hsl(0, 0%, 40%);
	--off-black: #111;

	/* RGB colors to add alpha values to */
	--red-rgb: 255, 115, 77;
	--blue-rgb: 90, 221, 232;
	--purple-rgb: 166, 144, 252;
	--yellow-rgb: 252, 192, 58;
	--pink-rgb: 243, 168, 221;
	--green-rgb: 152, 219, 107;
	--light-gray-rgb: 229, 229, 229;

	/* Checkerboard */
	--background-size: 2vmin;
	--background-secondary-color: #eee;
	--background-move-speed: 2s;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Limkin", sans-serif;
	font-variation-settings: "wght" 600, "SRFF" 0;
	background-color: var(--light-gray);
	transition: background-color .5s;
	color: var(--off-black);
	background-image: linear-gradient(45deg, var(--background-secondary-color) 25%, transparent 25%), linear-gradient(-45deg, var(--background-secondary-color) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--background-secondary-color) 75%), linear-gradient(-45deg, transparent 75%, var(--background-secondary-color) 75%);
	background-size: var(--background-size) var(--background-size);
	background-position: 0 0, 0 calc(var(--background-size) / 2), calc(var(--background-size) / 2) calc(var(--background-size) / -2), calc(var(--background-size) / -2) 0px;
	animation: background-move var(--background-move-speed) infinite cubic-bezier(0.83, 0, 0.17, 1), background-gradient 20s infinite;
}
@keyframes background-move {
	0% {
		background-position: 0px 0px, 0px calc(var(--background-size) / 2), calc(var(--background-size) / 2) calc(var(--background-size) / -2), calc(var(--background-size) / -2) 0px;
	}
	50% {
		background-position: calc(var(--background-size) / 2) 0px, calc(var(--background-size) / 2) calc(var(--background-size) / 2), var(--background-size) calc(var(--background-size) / -2), 0px 0px;
	}
	100% {
		background-position: calc(var(--background-size) / 2) calc(var(--background-size) / -2), calc(var(--background-size) / 2) 0px, var(--background-size) calc(var(--background-size) * -1), 0px calc(var(--background-size) / -2);
	}
}

/* Return */
.return {
	position: fixed;
	top: 20px;
	right: 20px;
	border-radius: 50%;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--off-black);
	text-align: center;
	aspect-ratio: 1/1;
	background-color: var(--light-gray);
	transform: rotate(10deg);
	box-shadow: 8px 8px 0 var(--off-black);
	border: 4px solid var(--off-black);
	z-index: 1;
	padding: .45em .7em .3em .7em;
	line-height: 1em;
	z-index: 999999;
	font-size: 18px;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	letter-spacing: -.03em;
	transition: transform .5s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.return:hover {
	background-color: var(--off-white);
	transform: scale(1.05) rotate(10deg);
}
.return:active {
	background-color: var(--off-black);
	color: var(--off-white);
	transform: scale(.95) rotate(10deg);
}

/* Container */
.container {
	padding-left: 200px;
}

/* Header */
.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 160px 80px;
}
.header-subtitle {
	border-radius: 20px;
	text-decoration: none;
	display: inline-block;
	color: var(--off-black);
	background-color: var(--yellow);
	box-shadow: 8px 8px 0 var(--off-black);
	border: 4px solid var(--off-black);
	position: relative;
	z-index: 1;
	padding: .45em .7em .3em .7em;
	line-height: 1em;
	font-size: 18px;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	letter-spacing: -.03em;
	margin: 0 20px 40px 20px;
	animation: header-subtitle 1s infinite ease-in-out alternate;
}
@keyframes header-subtitle {
	from {
		transform: rotate(-4deg);
	}
	to {
		transform: rotate(4deg);
	}
}
.header-title {
	text-align: center;
	font-size: clamp(72px, 8vw, 140px);
	letter-spacing: -.05em;
	font-variation-settings: "wght" 800, "SRFF" 0;
	line-height: 1em;
	text-shadow: 8px 8px var(--off-black);
}
.header-title > span {
	white-space: nowrap;
}
.header-title span span {
	color: var(--primary);
	-webkit-text-stroke: 8px var(--off-black);
	paint-order: stroke fill;
	animation: header-title 1s infinite ease-in-out alternate;
	display: inline-block;
}
@keyframes header-title {
	from {
		transform: translateY(-.1em);
	}
	to {
		transform: translateY(.1em);
	}
}
.header-info {
	width: 100%;
	position: relative;
	display: grid;
	grid-template-columns: 1fr 3fr;
	background-color: var(--light-gray);
	max-width: 1200px;
	padding: 120px;
	margin: 80px auto 0 auto;
	border: 4px solid var(--off-black);
	border-radius: 40px;
	gap: 80px;
	box-shadow: 8px 8px var(--off-black);
	transform: rotate(-1.5deg);
	animation: header-info 1s forwards cubic-bezier(0.22, 1, 0.36, 1);
}
@keyframes header-info {
	from {
		transform: scale(0) rotate(40deg);
	}
	to {
		transform: scale(1) rotate(-1.5deg);
	}
}
.header-info-handle-1 {
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: var(--off-black);
	top: 20px;
	left: 20px;
	border-radius: 50%;
}
.header-info-handle-2 {
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: var(--off-black);
	top: 20px;
	right: 20px;
	border-radius: 50%;
}
.header-info-handle-3 {
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: var(--off-black);
	bottom: 20px;
	right: 20px;
	border-radius: 50%;
}
.header-info-handle-4 {
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: var(--off-black);
	bottom: 20px;
	left: 20px;
	border-radius: 50%;
}
.header-info-sidebar {
	display: flex;
	flex-direction: column;
	align-items: start;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	gap: 40px;
}
.header-info-sidebar-section {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 8px;
}
.header-info-sidebar-title {
	outline: 4px solid var(--off-black);
	padding: .45em .7em .3em .7em;
	line-height: 1em;
	border-radius: 40px;
	background-color: var(--primary);
	font-size: 18px;
	letter-spacing: -.03em;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	box-shadow: 8px 8px var(--off-black);
	transform: rotate(-5deg) translateX(-20px);
	margin-bottom: 20px;
}
.header-info-sidebar-item {
	font-size: 18px;
	letter-spacing: -.03em;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	line-height: 1.1em;
	position: relative;
	margin-left: 1em;
}
.header-info-sidebar-item::before {
	content: "";
	position: absolute;
	left: -1.2em;
	top: .2em;
	width: .5em;
	height: .5em;
	background-color: var(--primary);
	border-radius: 50%;
	outline: 4px solid var(--off-black);
}
.header-info-sidebar-link {
	text-decoration: none;
	color: var(--off-black);
	font-size: 18px;
	letter-spacing: -.03em;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	line-height: 1.1em;
	position: relative;
	margin-left: 1em;
}
.header-info-sidebar-link::before {
	content: "";
	position: absolute;
	left: -1.2em;
	top: .2em;
	width: .5em;
	height: .5em;
	background-color: var(--primary);
	outline: 4px solid var(--off-black);
	border-radius: 50%;
}
.header-info-sidebar-link:hover {
	opacity: .5;
}
.header-info-sidebar-link:active {
	opacity: .25;
}
.header-info-sidebar-link::after {
	content: " ↗";
	white-space: nowrap;
}
.header-info-sidebar > *:nth-child(6n+1) {
	--primary: var(--pink);
}
.header-info-sidebar > *:nth-child(6n+2) {
	--primary: var(--green);
}
.header-info-sidebar > *:nth-child(6n+3) {
	--primary: var(--blue);
}
.header-info-sidebar > *:nth-child(6n+4) {
	--primary: var(--yellow);
}
.header-info-sidebar > *:nth-child(6n+5) {
	--primary: var(--purple);
}
.header-info-sidebar > *:nth-child(6n+6) {
	--primary: var(--red);
}
.header-info-desc {
	font-size: 24px;
	display: flex;
	flex-direction: column;
	gap: 1em;
	font-variation-settings: "wght" 300, "SRFF" 0;
	font-weight: 300;
	line-height: 1.3em;
	text-wrap: pretty;
}
@media (max-width: 1200px) {
	.header-info {
		grid-template-columns: 1fr;
		padding: 80px;
		gap: 40px;
	}
	.header-info-desc {
		order: -1;
	}
	.header-info-sidebar {
		flex-direction: row;
		flex-wrap: wrap;
	}
}
@media (max-width: 800px) {
	.return {
		top: -20px;
		right: -15px;
	}
	.header {
		padding: 80px 20px;
	}
	.header-info {
		padding: 60px 20px;
		border-radius: 20px;
		font-variation-settings: "wght" 300, "SRFF" 0;
		font-weight: 300;
	}
	@keyframes header-info {
		from {
			transform: scale(0) rotate(40deg);
		}
		to {
			transform: scale(1) rotate(0deg);
		}
	}
	.header-info-handle-1 {
		width: 18px;
		height: 18px;
		top: 10px;
		left: 10px;
	}
	.header-info-handle-2 {
		width: 18px;
		height: 18px;
		top: 10px;
		right: 10px;
	}
	.header-info-handle-3 {
		width: 18px;
		height: 18px;
		bottom: 10px;
		right: 10px;
	}
	.header-info-handle-4 {
		width: 18px;
		height: 18px;
		bottom: 10px;
		left: 10px;
	}
	.header-info-desc {
		font-size: 18px;
		font-variation-settings: "wght" 400, "SRFF" 0;
		font-weight: 400;
	}
	.header-info-sidebar {
		padding-left: 20px;
	}
}

/* Index */
.index {
	position: fixed;
	left: 0;
	display: flex;
	flex-direction: column;
	top: 0;
	height: 100dvh;
	overflow: scroll;
	width: 340px;
	padding-right: 40px;
	z-index: 9;
	filter: drop-shadow(2px -2px var(--off-black));
}
.index-link {
	display: flex;
	align-items: center;
	justify-content: end;
	flex-grow: 1;
	font-size: 18px;
	text-decoration: none;
	color: var(--off-black);
	background-color: var(--off-white);
	border-left: 80px solid var(--primary);
	position: relative;
	z-index: 1;
	box-shadow: 8px 8px var(--off-black);
	font-variation-settings: "wght" 700, "SRFF" 0;
	letter-spacing: -.03em;
	line-height: 1em;
	border-radius: 0 10000px 10000px 0;
	padding: 12px 20px 10px 20px;
	line-height: 1em;
	text-align: right;
	transition: transform .5s cubic-bezier(0.34, 1.56, 0.64, 1);
	flex-basis: 0;
	transform: translateX(-60px);
}
.index-link[data-active="1"] {
	background-color: var(--primary);
	transform: translateX(-40px);
}
.index-link[data-init="0"] {
	transform: translateX(-125%);
}
.index-link:hover {
	background-color: var(--primary);
	transform: translateX(-20px);
}
.index-link:active {
	background-color: var(--off-black);
	color: var(--primary);
	transform: translateX(-60px);
}
.index-link:nth-child(6n+1) {
	--primary: var(--pink);
	--secondary: var(--pink-rgb);
}
.index-link:nth-child(6n+2) {
	--primary: var(--green);
	--secondary: var(--green-rgb);
}
.index-link:nth-child(6n+3) {
	--primary: var(--blue);
	--secondary: var(--blue-rgb);
}
.index-link:nth-child(6n+4) {
	--primary: var(--yellow);
	--secondary: var(--yellow-rgb);
}
.index-link:nth-child(6n+5) {
	--primary: var(--purple);
	--secondary: var(--purple-rgb);
}
.index-link:nth-child(6n+6) {
	--primary: var(--red);
	--secondary: var(--red-rgb);
}

/* Students */
.students {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding-top: 164px;
}
.student {
	z-index: 1;
	border: 4px solid var(--off-black);
	border-bottom: unset;
	padding: 0 80px 320px 100px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	position: relative;
	scroll-margin-top: 80px;
}
.student:nth-last-child(1) {
	padding-bottom: 160px;
}
.student::before {
	content: "";
	position: absolute;
	background-color: var(--primary);
	top: -160px;
	border-radius: 160px 160px 0 0;
	outline: 4px solid var(--off-black);
	left: 0;
	right: 0;
	bottom: 0;
}
.student[data-active="0"] {
	opacity: .5;
}
.student:nth-child(6n+1) {
	--primary: var(--pink);
	--secondary: var(--pink-rgb);
}
.student:nth-child(6n+2) {
	--primary: var(--green);
	--secondary: var(--green-rgb);
}
.student:nth-child(6n+3) {
	--primary: var(--blue);
	--secondary: var(--blue-rgb);
}
.student:nth-child(6n+4) {
	--primary: var(--yellow);
	--secondary: var(--yellow-rgb);
}
.student:nth-child(6n+5) {
	--primary: var(--purple);
	--secondary: var(--purple-rgb);
}
.student:nth-child(6n+6) {
	--primary: var(--red);
	--secondary: var(--red-rgb);
}

/* Student info */
.student-info {
	color: var(--primary);
	display: flex;
	gap: 20px;
	align-items: end;
	flex-wrap: wrap;
	max-width: 1400px;
	margin: 0 auto;
	width: 100%;
}
.student-info-name {
	/* flex-grow: 1; */
}
.student-info-name a {
	border: 4px solid var(--off-black);
	font-size: 40px;
	text-decoration: none;
	display: inline-block;
	color: var(--off-black);
	background-color: var(--primary);
	position: relative;
	z-index: 1;
	border-radius: 40px;
	padding: .45em .7em .3em .7em;
	line-height: 1em;
	box-shadow: 8px 8px 0 var(--off-black);
	transform: rotate(-3deg);
	font-variation-settings: "wght" 700, "SRFF" 0;
	letter-spacing: -.05em;
}
.student-info-name a:hover {
	background-color: var(--off-white);
}
.student-info-name a:active {
	background-color: var(--off-black);
	color: var(--primary);
}
.student-info-links {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.student-info-link {
	font-size: 18px;
	border-radius: 20px;
	text-decoration: none;
	display: inline-block;
	color: var(--off-black);
	background-color: var(--primary);
	box-shadow: 8px 8px 0 var(--off-black);
	border: 4px solid var(--off-black);
	position: relative;
	z-index: 1;
	padding: .45em .7em .3em .7em;
	line-height: 1em;
	font-variation-settings: "wght" 700, "SRFF" 0;
	letter-spacing: -.03em;
}
.student-info-link::after {
	content: " ↗";
}
.student-info-link:hover {
	background-color: var(--off-white);
}
.student-info-link:active {
	background-color: var(--off-black);
	color: var(--primary);
}

/* Student embeds */
.student-embeds {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	gap: 40px;
	max-width: 1400px;
	margin: 0 auto;
	width: 100%;
}
.student-embed-container {

}
.student-embed-content {
	transition: 1s;
}
.student-embed {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 20px 0 20px;
	text-decoration: none;
	color: var(--off-black);
	transition: transform .5s cubic-bezier(0.34, 1.56, 0.64, 1);
	margin: 0 auto;
	width: 100%;
	position: relative;
	background-color: var(--primary);
	box-shadow: 8px 8px 0 var(--off-black);
	border: 4px solid var(--off-black);
	border-radius: 20px;
	max-width: 800px;
}
.student-embed:hover {
	transform: scale(1.05) !important;
	--primary: var(--off-white);
}
.student-embed:active {
	transform: scale(0.9) !important;
}
.student-embed-handle-1 {
	position: absolute;
	width: 18px;
	height: 18px;
	background-color: var(--off-black);
	top: 5px;
	left: 5px;
	border-radius: 50%;
}
.student-embed-handle-2 {
	position: absolute;
	width: 18px;
	height: 18px;
	background-color: var(--off-black);
	top: 5px;
	right: 5px;
	border-radius: 50%;
}
.student-embed-handle-3 {
	position: absolute;
	width: 18px;
	height: 18px;
	background-color: var(--off-black);
	bottom: 5px;
	right: 5px;
	border-radius: 50%;
}
.student-embed-handle-4 {
	position: absolute;
	width: 18px;
	height: 18px;
	background-color: var(--off-black);
	bottom: 5px;
	left: 5px;
	border-radius: 50%;
}
.student-embed-iframe {
	width: 100%;
	aspect-ratio: 16/9;
	overflow: hidden;
	position: relative;
	border: 4px solid var(--off-black);
	border-radius: 8px;
	pointer-events: none;
}
.student-embed iframe {
	overflow: hidden;
	pointer-events: none;
	width: 200%;
	height: 200%;
	transform-origin: top left;
	transform: scale(.5);
	background-color: white;
	border: unset;
}
.student-embed-label {
	font-size: 14px;
	position: relative;
	z-index: 1;
	padding: .5em 1.03em .3em 1em;
	max-width: 80%;
	text-align: center;
	line-height: 1em;
	color: var(--primary);
	font-variation-settings: "wght" 700, "SRFF" 0;
	letter-spacing: -.01em;
	background-color: var(--off-black);
	margin: 5px;
	border-radius: 20px;
}

/* Mobile styles */
@media (max-width: 800px) {
	.index {
		transition: transform .5s;
		transform: translateX(-100%);
	}
	.container {
		padding-left: unset;
	}
	.students {
		padding-top: 84px;
	}
	.student {
		padding: 0 40px 160px 40px;
	}
	.student::before {
		top: -80px;
		border-radius: 80px 80px 0 0;
	}
	.student:nth-last-child(1) {
		padding-bottom: 80px;
	}
	.student-embeds {
		grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	}
}