@font-face {
	font-family: "Limkin";
	src: url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.ttf") format(truetype),
		 url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.woff") format(woff),
		 url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.woff2") format(woff2);
	font-weight: 100 900;
}
:root {
	--red: #FF734D;
	--blue: #5ADDE8;
	--purple: #A690FC;
	--yellow: #fcc03a;
	--pink: #F3A8DD;
	--green: #98DB6B;
	--off-white: #fafafa;
	--light-gray: #e5e5e5;
	--dark-gray: hsl(0, 0%, 21%);
	--off-black: #111;

	/* RGB colors to add alpha values to */
	--red-rgb: 255, 115, 77;
	--blue-rgb: 90, 221, 232;
	--purple-rgb: 166, 144, 252;
	--yellow-rgb: 252, 192, 58;
	--pink-rgb: 243, 168, 221;
	--green-rgb: 152, 219, 107;
	--light-gray-rgb: 229, 229, 229;

	/* Checkerboard */
	--background-size: 2vmin;
	--background-secondary-color: #eee;
	--background-move-speed: 2s;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Limkin", sans-serif;
	font-variation-settings: "wght" 600, "SRFF" 0;
	background-color: var(--light-gray);
	transition: background-color .5s;
	color: var(--off-black);
	background-image: linear-gradient(45deg, var(--background-secondary-color) 25%, transparent 25%), linear-gradient(-45deg, var(--background-secondary-color) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--background-secondary-color) 75%), linear-gradient(-45deg, transparent 75%, var(--background-secondary-color) 75%);
	background-size: var(--background-size) var(--background-size);
	background-position: 0 0, 0 calc(var(--background-size) / 2), calc(var(--background-size) / 2) calc(var(--background-size) / -2), calc(var(--background-size) / -2) 0px;
	animation: background-move var(--background-move-speed) infinite cubic-bezier(0.83, 0, 0.17, 1), background-gradient 20s infinite;
}
@keyframes background-move {
	0% {
		background-position: 0px 0px, 0px calc(var(--background-size) / 2), calc(var(--background-size) / 2) calc(var(--background-size) / -2), calc(var(--background-size) / -2) 0px;
	}
	50% {
		background-position: calc(var(--background-size) / 2) 0px, calc(var(--background-size) / 2) calc(var(--background-size) / 2), var(--background-size) calc(var(--background-size) / -2), 0px 0px;
	}
	100% {
		background-position: calc(var(--background-size) / 2) calc(var(--background-size) / -2), calc(var(--background-size) / 2) 0px, var(--background-size) calc(var(--background-size) * -1), 0px calc(var(--background-size) / -2);
	}
}

/* Header */
.header {
	/* text-align: center; */
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 80px 0;
}
.header-subtitle {
	font-size: 18px;
	border-radius: 20px;
	text-decoration: none;
	display: inline-block;
	color: var(--off-black);
	background-color: var(--light-gray);
	box-shadow: 8px 8px 0 var(--off-black);
	border: 4px solid var(--off-black);
	position: relative;
	z-index: 1;
	padding: .45em .7em .3em .7em;
	line-height: 1em;
	font-variation-settings: "wght" 700, "SRFF" 0;
	letter-spacing: -.03em;
	margin: 0 20px 40px 20px;
	animation: header-title 1s infinite ease-in-out alternate;
}
.header-title {
	text-align: center;
	font-size: clamp(72px, 8vw, 120px);
	letter-spacing: -.05em;
	font-variation-settings: "wght" 800, "SRFF" 0;
	line-height: 1em;
	margin: 0px 20px 40px 20px;
}
.header-title > span {
	white-space: nowrap;
}
.header-title span span {
	color: var(--primary);
	text-shadow: 8px 8px var(--off-black);
	-webkit-text-stroke: 8px var(--off-black);
	paint-order: stroke fill;
	animation: header-title 1s infinite ease-in-out alternate;
	display: inline-block;
}
@keyframes header-title {
	from {
		transform: rotate(-2deg);
	}
	to {
		transform: rotate(2deg);
	}
}
.header-desc {
	font-variation-settings: "wght" 500, "SRFF" 0;
	letter-spacing: -.03em;
	font-size: 18px;
	display: grid;
	grid-auto-columns: 480px;
	grid-auto-flow: column;
	width: 100%;
	overflow-x: scroll;
	padding: 40px 80px 8px 80px;
	gap: 40px;
	align-items: start;
}
.header-desc-card {
	background-color: var(--light-gray);
	border: 4px solid var(--off-black);
	border-radius: 40px;
	padding: 40px;
	box-shadow: 8px 8px var(--off-black);
	position: relative;
}
.header-desc-card:nth-child(6n+1) {
	--primary: var(--pink);
	--secondary: var(--pink-rgb);
}
.header-desc-card:nth-child(6n+2) {
	--primary: var(--green);
	--secondary: var(--green-rgb);
}
.header-desc-card:nth-child(6n+3) {
	--primary: var(--blue);
	--secondary: var(--blue-rgb);
}
.header-desc-card:nth-child(6n+4) {
	--primary: var(--yellow);
	--secondary: var(--yellow-rgb);
}
.header-desc-card:nth-child(6n+5) {
	--primary: var(--purple);
	--secondary: var(--purple-rgb);
}
.header-desc-card:nth-child(6n+6) {
	--primary: var(--red);
	--secondary: var(--red-rgb);
}
.header-desc-card h2 {
	font-size: 18px;
	border-radius: 20px;
	text-decoration: none;
	display: inline-block;
	color: var(--off-black);
	background-color: var(--primary);
	box-shadow: 8px 8px 0 var(--off-black);
	border: 4px solid var(--off-black);
	z-index: 1;
	padding: .45em .7em .3em .7em;
	line-height: 1em;
	font-variation-settings: "wght" 700, "SRFF" 0;
	letter-spacing: -.03em;
	transform: rotate(-5deg);
	position: absolute;
	top: -20px;
	left: -20px;
}

/* Nav */
.nav {
	display: none;
	position: sticky;
	top: 0;
	background-color: var(--light-gray);
	border: 2px solid var(--off-black);
	border-top: unset;
	z-index: 9999999;
	padding: 10px 40px;
	border-radius: 0 0 40px 40px;
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
	transition: padding .2s;
	cursor: pointer;
}
.nav:hover {
	padding: 20px 40px;
	background-color: var(--off-white);
}
.nav-title {
	font-size: 24px;
	line-height: 1em;
	text-align: center;
}

/* Container */
.container {
	padding-left: 200px;
}

/* Index */
.index {
	position: fixed;
	left: 0;
	display: flex;
	flex-direction: column;
	top: 0;
	height: 100dvh;
	overflow: scroll;
	width: 240px;
	padding-right: 10px;
	z-index: 9;
	filter: drop-shadow(2px -2px var(--off-black));
}
.index-link {
	display: flex;
	align-items: center;
	justify-content: end;
	flex-grow: 1;
	font-size: 18px;
	text-decoration: none;
	color: var(--off-black);
	background-color: var(--off-white);
	border-left: 32px solid var(--primary);
	position: relative;
	z-index: 1;
	box-shadow: 8px 8px var(--off-black);
	font-variation-settings: "wght" 700, "SRFF" 0;
	letter-spacing: -.03em;
	line-height: 1em;
	border-radius: 0 40px 40px 0;
	padding: 12px 20px 10px 20px;
	line-height: 1em;
	text-align: right;
	transition: transform .2s;
	flex-basis: 0;
	transform: translateX(-16px);
}
.index-link[data-active="1"] {
	background-color: var(--primary);
	transform: translateX(0);
}
.index-link:hover {
	background-color: var(--primary);
	transform: translateX(0);
}
.index-link:active {
	background-color: var(--off-black);
	color: var(--primary);
	transform: translateX(-20px);
}
.index-link:nth-child(6n+1) {
	--primary: var(--pink);
	--secondary: var(--pink-rgb);
}
.index-link:nth-child(6n+2) {
	--primary: var(--green);
	--secondary: var(--green-rgb);
}
.index-link:nth-child(6n+3) {
	--primary: var(--blue);
	--secondary: var(--blue-rgb);
}
.index-link:nth-child(6n+4) {
	--primary: var(--yellow);
	--secondary: var(--yellow-rgb);
}
.index-link:nth-child(6n+5) {
	--primary: var(--purple);
	--secondary: var(--purple-rgb);
}
.index-link:nth-child(6n+6) {
	--primary: var(--red);
	--secondary: var(--red-rgb);
}

/* Students */
.students {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding-top: 164px;
}
.student {
	z-index: 1;
	outline: 4px solid var(--off-black);
	padding: 0 80px 320px 100px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	position: relative;
	scroll-margin-top: 80px;
}
.student:nth-last-child(1) {
	padding-bottom: 160px;
}
.student::before {
	content: "";
	position: absolute;
	background-color: var(--primary);
	top: -160px;
	border-radius: 160px 160px 0 0;
	outline: 4px solid var(--off-black);
	left: 0;
	right: 0;
	bottom: 0;
}
.student[data-active="0"] {
	opacity: .5;
}
.student:nth-child(6n+1) {
	--primary: var(--pink);
	--secondary: var(--pink-rgb);
}
.student:nth-child(6n+2) {
	--primary: var(--green);
	--secondary: var(--green-rgb);
}
.student:nth-child(6n+3) {
	--primary: var(--blue);
	--secondary: var(--blue-rgb);
}
.student:nth-child(6n+4) {
	--primary: var(--yellow);
	--secondary: var(--yellow-rgb);
}
.student:nth-child(6n+5) {
	--primary: var(--purple);
	--secondary: var(--purple-rgb);
}
.student:nth-child(6n+6) {
	--primary: var(--red);
	--secondary: var(--red-rgb);
}

/* Student info */
.student-info {
	color: var(--primary);
	display: flex;
	gap: 20px;
	align-items: end;
	flex-wrap: wrap;
	max-width: 1400px;
	margin: 0 auto;
	width: 100%;
}
.student-info-name {
	/* flex-grow: 1; */
}
.student-info-name a {
	border: 4px solid var(--off-black);
	font-size: 40px;
	text-decoration: none;
	display: inline-block;
	color: var(--off-black);
	background-color: var(--primary);
	position: relative;
	z-index: 1;
	border-radius: 40px;
	padding: .45em .7em .3em .7em;
	line-height: 1em;
	box-shadow: 8px 8px 0 var(--off-black);
	transform: rotate(-3deg);
	font-variation-settings: "wght" 700, "SRFF" 0;
	letter-spacing: -.05em;
}
.student-info-name a:hover {
	background-color: var(--off-white);
}
.student-info-name a:active {
	background-color: var(--off-black);
	color: var(--primary);
}
.student-info-links {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.student-info-link {
	font-size: 18px;
	border-radius: 20px;
	text-decoration: none;
	display: inline-block;
	color: var(--off-black);
	background-color: var(--primary);
	box-shadow: 8px 8px 0 var(--off-black);
	border: 4px solid var(--off-black);
	position: relative;
	z-index: 1;
	padding: .45em .7em .3em .7em;
	line-height: 1em;
	font-variation-settings: "wght" 700, "SRFF" 0;
	letter-spacing: -.03em;
}
.student-info-link::after {
	content: " ↗";
}
.student-info-link:hover {
	background-color: var(--off-white);
}
.student-info-link:active {
	background-color: var(--off-black);
	color: var(--primary);
}

/* Student embeds */
.student-embeds {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	gap: 40px;
	max-width: 1400px;
	margin: 0 auto;
	width: 100%;
}
.student-embed-container {

}
.student-embed-content {
	transition: 1s;
}
.student-embed {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 20px 0 20px;
	text-decoration: none;
	color: var(--off-black);
	transition: transform .5s;
	margin: 0 auto;
	width: 100%;
	position: relative;
	background-color: var(--primary);
	box-shadow: 8px 8px 0 var(--off-black);
	border: 4px solid var(--off-black);
	border-radius: 10px;
}
.student-embed:hover {
	transform: scale(1.05) !important;
	--primary: var(--off-white);
}
.student-embed:active {
	transform: scale(0.9) !important;
}
.student-embed-handle-1 {
	position: absolute;
	width: 18px;
	height: 18px;
	background-color: var(--off-black);
	top: 5px;
	left: 5px;
	border-radius: 50%;
}
.student-embed-handle-2 {
	position: absolute;
	width: 18px;
	height: 18px;
	background-color: var(--off-black);
	top: 5px;
	right: 5px;
	border-radius: 50%;
}
.student-embed-handle-3 {
	position: absolute;
	width: 18px;
	height: 18px;
	background-color: var(--off-black);
	bottom: 5px;
	right: 5px;
	border-radius: 50%;
}
.student-embed-handle-4 {
	position: absolute;
	width: 18px;
	height: 18px;
	background-color: var(--off-black);
	bottom: 5px;
	left: 5px;
	border-radius: 50%;
}
.student-embed-iframe {
	width: 100%;
	aspect-ratio: 16/9;
	overflow: hidden;
	position: relative;
	border: 4px solid var(--off-black);
	border-radius: 8px;
}
.student-embed iframe {
	overflow: hidden;
	pointer-events: none;
	width: 200%;
	height: 200%;
	transform-origin: top left;
	transform: scale(.5);
	background-color: white;
	border: unset;
}
.student-embed-label {
	font-size: 14px;
	position: relative;
	z-index: 1;
	padding: .5em 1.03em .3em 1em;
	max-width: 80%;
	text-align: center;
	line-height: 1em;
	color: var(--primary);
	font-variation-settings: "wght" 700, "SRFF" 0;
	letter-spacing: -.01em;
	background-color: var(--off-black);
	margin: 5px;
	border-radius: 20px;
}

/* Mobile styles */
@media (max-width: 800px) {
	.index {
		transition: transform .5s;
		transform: translateX(-100%);
	}
	.container {
		padding-left: unset;
	}
	.students {
		padding-top: 84px;
	}
	.student {
		padding: 0 40px 160px 40px;
	}
	.student::before {
		top: -80px;
		border-radius: 80px 80px 0 0;
	}
	.student:nth-last-child(1) {
		padding-bottom: 80px;
	}
}